{% block header%}

    <!-- Primary Meta Tags -->
    <title> Exploring the Latest Innovations and Trends in Technology</title>
    <meta name="title" content=" Exploring the Latest Innovations and Trends in Technology">
    <meta name="description" content="Circuit is your go-to source for the latest news, trends, and innovations in the world of technology. Our team of expert writers brings you informative and engaging articles covering a wide range of topics, from the latest gadgets and software releases to cutting-edge developments in artificial intelligence, blockchain, and more. Stay up-to-date with the fast-paced world of technology and join the conversation with Circuit.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://circuit.com/">
    <meta property="og:title" content=" Exploring the Latest Innovations and Trends in Technology">
    <meta property="og:description" content="Circuit is your go-to source for the latest news, trends, and innovations in the world of technology. Our team of expert writers brings you informative and engaging articles covering a wide range of topics, from the latest gadgets and software releases to cutting-edge developments in artificial intelligence, blockchain, and more. Stay up-to-date with the fast-paced world of technology and join the conversation with Circuit.">
    <meta property="og:image" content="public/assets/images/logoProjet2.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://circuit.com/">
    <meta property="twitter:title" content=" Exploring the Latest Innovations and Trends in Technology">
    <meta property="twitter:description" content="Circuit is your go-to source for the latest news, trends, and innovations in the world of technology. Our team of expert writers brings you informative and engaging articles covering a wide range of topics, from the latest gadgets and software releases to cutting-edge developments in artificial intelligence, blockchain, and more. Stay up-to-date with the fast-paced world of technology and join the conversation with Circuit.">
    <meta property="twitter:image" content="public/assets/images/logoProjet2.png">

{% endblock %}
