<div class="article-head text-center pt-5">
    <h2 class="pt-5 mb-5">{% block show_article_title %}La puissance de ChatGPT : Comment un modèle de langage améliore la communication {% endblock %}</h2>
    <div class="d-inline-flex mb-5">
        <p class="mb-0 pe-4">{% block show_article_author %}ChatGPT{% endblock %}</p>
        <p class="mb-0">{% block show_article_date %}22 04 2023{% endblock %}</p>
    </div>
    <div class="bt-article-head-line mb-5"></div>
    <div class="row justify-content-center">
        <p class="bt-description pb-5 col-9">{% block show_article_description %}ChatGPT est un modèle de langage développé par OpenAI qui utilise l'IA pour faciliter la communication humaine et fournir des informations précises et fiables. Dans cet article, nous allons explorer ses fonctionnalités et ses capacités.{% endblock %}</p>
    </div>
</div>
