.bt-comments {
    display: flex;
    flex-direction: column;
}

.bt-separation-bar-comments {
    width: 80%;
    height: 0.031rem;
    background: black;
    margin: auto;
}

.bt-total-comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bt-title-commentaires {
    border-bottom: solid 0.063rem black;
}

.bt-single-comment {
    width: 80%;
    margin: auto;
}

.bt-name-creation-date {
    display: flex;
    align-items: baseline;
}

.bt-name-creation-date h3 {
    border-bottom: solid 0.063rem black;
    margin-right: 1rem;
}

.bt-comment-content {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
}

.bt-comment-area {
    width: 80%;
    margin: auto;
}

.bt-comment-form {
    width: 60%;
    margin: auto;
}
#bt-edit-comment-total  {
    margin-top: 1.875rem;
}

#bt-edit-comment    {
    margin-bottom: 0.625rem;
}

@media screen and (max-width: 780px){
    .bt-comment-form{
        width: 90%;
    }
}


