:root {
    /* Colours */
    --bt-main-text-article-color: #000000;
    --bt-main-white: #fdfff5;
    --bt-main-bg-color: #002d2bff;
    --bt-bg-card-light-green: #0a9a93ff;
    --bt-bg-card-red: #e8241aff;
    --bt-bg-card-darkred: #9C1009;
    --bt-bg-cards-orange: #e89102ff;
    --bt-bg-card-orange: #e89102ff;
    --bt-bg-card-light-orange: #FFA81C;
    --bt-main-bg : #faf0e6;
    /* Gradients */
    --bt-main-gradient: linear-gradient(90deg, #002d2bff 0%, #0a9a93ff 50%, #002d2bff 100%);
    /* Fonts */
    --bt-article-text-font: 'Libre Baskerville', serif;
    --bt-main-font: 'Raleway', sans-serif;
    --bt-logo-font: 'Rajdhani', sans-serif;
    /* Styles */
    --bt-main-box-shadow: 0.313rem 0.313rem 1.125rem 0.188rem rgba(0, 0, 0, 0.5);
    --bt-main-border-radius: 0.625rem;
    --bt-sticky-border-radius: 1.25rem;
    /* Spacings */
    --bt-main-section-spacing: 3rem;
    --bt-article-spacing-horizon: 1rem;
    --bt-spacing: 10vh;
}
